@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */

html,
body {
  background-color: #F9F5EE; /* brand-beige */
  color: #333; /* brand-grey-dark */
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

